.temp_slider {
    margin: 0 auto;
    display: inline-block;
    height: 200px;
}

.apr .noUi-connect {
    background: #86B953;
}

.jul .noUi-connect {
    background: #D92628;
}

.oct .noUi-connect {
    background: #FDC51A;
}

.jan .noUi-connect {
    background: #7BAFD4;
}

.year .noUi-connect {
    background: #666666
}

.seasons {
    float: left;
    display: inline-block;
    padding-right: 40px;
}

.city_list {
    clear: both;
}

.seasons .low_bound {
    margin-top: 14px;
    width: 45px;
    position: relative;
    left: -10px;
}
.seasons .high_bound {
    margin-bottom: 20px;
    width: 45px;
    position: relative;
    left: -10px;
}


#pop_slider, #rent_slider {
    margin-bottom: 30px;
}

h4 {
    margin: 0;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    margin: 20px;
}

.thumb {
    height: 200px;
    overflow: hidden;
}

.thumb .img-responsive {
    display: block;
    width: 100%;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: #7BAFD4;
    text-decoration: none;
}