.temp_slider {
    margin: 0 auto;
    display: inline-block;
    height: 200px;
}

.apr .noUi-connect {
    background: #86B953;
}

.jul .noUi-connect {
    background: #D92628;
}

.oct .noUi-connect {
    background: #FDC51A;
}

.jan .noUi-connect {
    background: #7BAFD4;
}

.year .noUi-connect {
    background: #666666;
}

.seasons {
    float: left;
    display: inline-block;
    padding-right: 30px;
}

.city_list {
    clear: both;
}

.seasons .low_bound {
    margin-top: 16px;
    width: 45px;
    position: relative;
    left: -13px;
}
.seasons .high_bound {
    margin-bottom: 20px;
    width: 45px;
    position: relative;
    left: -13px;
}

.seasons h3, .population h3 {
    margin-top: 0;
}

.seasons h3 {
    position: relative;
    left: -10px;
}


#pop_slider, #rent_slider {
    margin-bottom: 30px;
}

h4 {
    margin: 0;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    margin: 20px;
}

.thumb {
    /*height: 200px;*/
    /*overflow: hidden;*/
}

.thumb .img-responsive {
    display: block;
    width: 100%;
}

a {
    text-decoration: none;
    color: #7BAFD4;
}

a:hover {
    color: #7BAFD4;
    text-decoration: none;
}

body {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
}

h1 {
    text-align: center;
    font-size: 3em;
}

.population .low_bound {
    text-align: right;
}

.rent .low_bound {
    text-align: right;
}

.population .noUi-value-large {
    margin-top: 5px;
}

.rent .noUi-value-large {
    margin-top: 5px;
}


#filters {
    background: #FFF;
    padding-top: 20px;
    -webkit-box-shadow: 1px 0px 5px 0px rgba(82,82,82,0.25);
    -moz-box-shadow: 1px 0px 5px 0px rgba(82,82,82,0.25);
    box-shadow: 1px 0px 5px 0px rgba(82,82,82,0.25);
}

.rent {
    padding-bottom: 10px;
}

.cities_container {
    padding-top: 70px;
}

.navbar-header {
    float: left;
    text-align: center;
    width: 100%;
}

.navbar-brand {
    float:none;
    position: relative;
    top: 15px;
    font-size: 2em;
}

.about_link {
    font-size: 1.1em;
    position: relative;
    top: 10px;
    left: 12px;
    float: right;
}

.slider_month {
    transform: rotate(270deg);
    transform-origin: left top 0;
    position: relative;
    top: 120px;
    right: 2px;
    color: white;
    width: 120px;
    text-align: center;
}

#number_buttons {
    padding-bottom: 80px;
}

#asc_desc {
    float: left;
}

#avg_high_low {
    clear: both;
}