.temp_slider {
    margin: 0 auto;
    display: inline-block;
    height: 200px;
}

.apr .noUi-connect {
    background: #86B953;
}

.jul .noUi-connect {
    background: #D92628;
}

.oct .noUi-connect {
    background: #FDC51A;
}

.jan .noUi-connect {
    background: #7BAFD4;
}

.year .noUi-connect {
    background: #666666;
}

.apr_label {
    color: #86B953;
}

.jul_label {
    color: #D92628;
}

.oct_label {
    color: #FDC51A;
}

.jan_label {
    color:#7BAFD4;
}

.year_label {
    color: #666666;
}

.apr_label, .jul_label, .oct_label, .jan_label, .year_label {
    display: inline;
    margin: 10px;
    font-size: larger;
    font-weight: 700;
}

.month_colors {
    font-size: large;
}

.seasons {
    float: left;
    display: inline-block;
    padding-right: 30px;
}

.city_list {
    clear: both;
}

.seasons .low_bound {
    margin-top: 16px;
    width: 45px;
    position: relative;
    left: -13px;
}
.seasons .high_bound {
    margin-bottom: 20px;
    width: 45px;
    position: relative;
    left: -13px;
}

.seasons h2, .population h2 {
    margin-top: 0;
}

.seasons h2 {
    position: relative;
    left: -10px;
}


#pop_slider, #rent_slider {
    margin-bottom: 30px;
}

h4 {
    margin: 0;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    margin: 20px;
}

.thumb {
    height: 200px;
    overflow: hidden;
}

.thumb .img-responsive {
    display: block;
    width: 100%;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: #7BAFD4;
    text-decoration: none;
}

body {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
}

h1 {
    text-align: center;
    font-size: 3em;
    height: 5vh;
}

.population .low_bound {
    text-align: right;
}

.rent .low_bound {
    text-align: right;
}

.population .noUi-value-large {
    margin-top: 5px;
}

.rent .noUi-value-large {
    margin-top: 5px;
}

.cities_container {
    max-height: 88vh;
    overflow-y: scroll;
}